button{
    background-color: white;
    color: black;
}

.button:hover {
    background-color:white;
    color: white;
  }

  .card {
      
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width: 23rem;
   
    
}
h2{
    color: white;
}

i{
     color: white;
    align-content: center;
    align-self: center;
    align-items: center;
    font-size: 150px;
    }

